// sass/_bulma.scss

// 1. Override variables BEFORE using Bulma modules
$primary: #3c6ddf !default;
$family-sans-serif: "Inter", sans-serif !default;

@use "bulma/sass/base";
@use "bulma/sass/themes";

@use "bulma/sass/layout";
@use "bulma/sass/grid";
@use "bulma/sass/helpers";

@use "bulma/sass/components";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/image";
@use "bulma/sass/elements/title";